@model IMDB.Models.Director

@{

    ViewBag.Title = "Update Director";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CreationForm.css" rel="stylesheet" />


</head>
<body>
    <div class="IMDB-image">
        <a href="Home"><img src="https://images-na.ssl-images-amazon.com/images/G/01/imdb/authportal/images/www_imdb_logo._CB667618033_.png" alt="IMDb logo" /></a>
    </div>
    <div class="creation-form">
        <h1 class="Header">Update Director</h1>

        @using (Html.BeginForm("DirectorsEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) 
        {
            @Html.AntiForgeryToken()

            <div class="text-line">
                @Html.LabelFor(text => text.FirstName)
                @Html.EditorFor(name => name.FirstName, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.FirstName)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.LastName)
                @Html.EditorFor(name => name.LastName, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.LastName)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.Description)
                @Html.EditorFor(name => name.Description, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.Description)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.Age)
                @Html.EditorFor(name => name.Age, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.Age)
            </div>
            <div class="text-line">
                @Html.LabelFor(text => text.DirectorIMG)
                <input type="file" name="image" class="file-upload-field" />
            </div>

            <div class="text-line">
                <input type="submit" value="update" class="button" />
                @Html.ActionLink("Back", "Home", new { @class = "Linkbutton" }, new { id = "BackBtn" })
            </div>

        }
    </div>




</body>
</html>

