@model IMDB.ViewModels.MovieCreationViewModel   

@{

    ViewBag.Title = "Create New Movie";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/IMDBStyleSheet.css">
    

</head>
<body>
    <div class="IMDB-image">
        <img src="https://images-na.ssl-images-amazon.com/images/G/01/imdb/authportal/images/www_imdb_logo._CB667618033_.png" alt="IMDb logo" />
    </div>
    <div class="creation-form">
        <h1 class="Header">Create New Movie</h1>


        @using (Html.BeginForm("NewMovie", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="text-line">
                @Html.LabelFor(text => text.Movie.MovieName)
                @Html.TextBoxFor(name => name.Movie.MovieName, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.Movie.MovieName)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.Movie.DirectorID)
                @Html.DropDownListFor(name => name.Movie.DirectorID, new SelectList(Model.Directors, "DirectorID", "FirstName"), "Select Movie Director", new { @class = "list" })
                @Html.ValidationMessageFor(name => name.Movie.DirectorID)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.MovieActors.Actor, "Movie Actors")
                @Html.DropDownListFor(name => name.MovieActors.ActorID, new SelectList(Model.Actors, "ActorID", "FirstName"), "Actor1", new { @class = "list" })
                @Html.DropDownListFor(name => name.MovieActors.ActorID, new SelectList(Model.Actors, "ActorID", "FirstName"), "Actor2", new { @class = "list" })
                @Html.DropDownListFor(name => name.MovieActors.ActorID, new SelectList(Model.Actors, "ActorID", "FirstName"), "Actor3", new { @class = "list" })
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.Movie.MovieIMG)
                <input type="file" name="movieImage" />

            </div>

            <div class="text-line">
                <input type="submit" value="Create" class="button" />
                @Html.ActionLink("Back", "Home", new { @class = "Linkbutton" }, new { id = "BackBtn" })
            </div>

        }
    </div>

    


</body>
</html>