@model IMDB.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/IMDBStyleSheet.css">
    <link href="~/Content/CreationForm.css" rel="stylesheet" />
</head>
<body>
    <div class="IMDB-image">
        <a href="@Url.Action("Home", "Home")">
            <img src="~/Image/IMDb Image.png" alt="IMDb logo" />
        </a>
    </div>
    <div class="creation-form">
        <h1 class="Header">LOGIN</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="text-line">
                @Html.LabelFor(text => text.Email)
                @Html.TextBoxFor(name => name.Email, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.Email)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.Password)
                @Html.PasswordFor(name => name.Password, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.Password)
            </div>

            <div class="text-line">
                <input type="submit" value="LOGIN" class="button" />
                @Html.ActionLink("Back", "Home", new { @class = "Linkbutton" }, new { id = "BackBtn" })
            </div>

            <div>
                <p class="text">
                    Don't have an account?
                    @Html.ActionLink("Sign-UP", "Registration")
                </p>
            </div>
        }
    </div>

</body>
</html>