@model IMDB.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/IMDBStyleSheet.css">
    <link href="~/Content/CreationForm.css" rel="stylesheet" />

</head>
<body>
    <div class="IMDB-image">
        <a href="@Url.Action("Home", "Home")">
            <img src="~/Image/IMDb Image.png" alt="IMDb logo" />
        </a>
    </div>
    <div class="creation-form">
        <h1 class="Header">REGISTRATION</h1>


        @using (Html.BeginForm("Registration", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()


            <div class="text-line">
                @Html.LabelFor(text => text.FirstName)
                @Html.TextBoxFor(name => name.FirstName, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.FirstName)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.LastName)
                @Html.TextBoxFor(name => name.LastName, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.LastName)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.Email)
                @Html.TextBoxFor(name => name.Email, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.Email)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.Password)
                @Html.PasswordFor(name => name.Password, new { @class = "input" })
                @Html.ValidationMessageFor(name => name.Password)
            </div>

            <div class="text-line">
                @Html.LabelFor(text => text.ProfileIMG)
                <input type="file" name="userImage" class="file-upload-field" />
            </div>

            <div class="text-line">
                <input type="submit" value="Create" class="button" />
                @Html.ActionLink("Back", "Home", new { @class = "Linkbutton" }, new { id = "BackBtn" })
            </div>
        }
    </div>




</body>
</html>
